<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @for(product of products; track product.id){

    <ion-card>

      <ion-card-content>

        <h2>{{ product.name }}</h2>

        <p><strong>Código:</strong> {{ product.code }}</p>

        <p><strong>Stock:</strong> {{ product.stock }}</p>

        <p><strong>Precio:</strong> S/. {{ product.price }}</p>

        <p><strong>Laboratorio:</strong> {{ product.laboratory }}</p>

        <p><strong>Vencimiento:</strong> {{ product.expirationDate }}</p>

        @if(product.stock < 10){

          <p class="low-stock">
            ⚠ STOCK BAJO
          </p>

        } @else {

          <p class="available-stock">
            ✅ Disponible
          </p>

        }

        @if(isExpired(product.expirationDate)){

          <p class="expired">
            🔴 PRODUCTO VENCIDO
          </p>

        } @else if(isNearExpiration(product.expirationDate)){

          <p class="near-expiration">
            🟠 PRÓXIMO A VENCER
          </p>

        } @else {

          <p class="valid-product">
            🟢 VIGENTE
          </p>

        }

      </ion-card-content>

    </ion-card>

  }

</ion-content>