.low-stock {
  color: #ff9800;
  font-weight: bold;
}

.available-stock {
  color: #4caf50;
  font-weight: bold;
}

.expired {
  color: #e53935;
  font-weight: bold;
}

.near-expiration {
  color: #fb8c00;
  font-weight: bold;
}

.valid-product {
  color: #43a047;
  font-weight: bold;
}

ion-card {
  border-radius: 16px;
  margin-bottom: 12px;
}