<ion-header>

  <ion-toolbar>

    <ion-title>

      Perfil de Usuario

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <h2>

        {{ user?.fullName }}

      </h2>

      <p>

        Usuario:
        {{ user?.username }}

      </p>

      <p>

        Rol:
        {{ user?.role }}

      </p>

    </ion-card-content>

  </ion-card>

  <ion-button
    expand="block"
    color="danger"
    (click)="logout()">

    Cerrar Sesión

  </ion-button>

</ion-content>