<ion-header>

  <ion-toolbar>

    <ion-title>

      Auditoría

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-card-content>

      <h2>

        Total Eventos:

        {{ totalLogs }}

      </h2>

    </ion-card-content>

  </ion-card>

  <ion-card>

  <ion-card-content>

    📄 Recetas:
    {{ recipesLogs }}

    <br>

    🏭 Producción:
    {{ productionLogs }}

    <br>

    🔬 Calidad:
    {{ qualityLogs }}

    <br>

    🚚 Entregas:
    {{ deliveryLogs }}

  </ion-card-content>

</ion-card>

<ion-button
  expand="block"
  color="danger"
  (click)="clearAudit()">

  Limpiar Auditoría

</ion-button>

  <ion-item>

    <ion-input
      label="Buscar"
      labelPlacement="floating"
      [(ngModel)]="searchText"
      (ionInput)="filterLogs()">

    </ion-input>

  </ion-item>

  <ion-item>

    <ion-select
      label="Módulo"
      labelPlacement="floating"
      [(ngModel)]="moduleFilter"
      (ionChange)="filterLogs()">

      <ion-select-option
        value="Todos">

        Todos

      </ion-select-option>

      <ion-select-option
        value="Recetas">

        Recetas

      </ion-select-option>

      <ion-select-option
        value="Producción">

        Producción

      </ion-select-option>

      <ion-select-option
        value="Control Calidad">

        Control Calidad

      </ion-select-option>

      <ion-select-option
        value="Entregas">

        Entregas

      </ion-select-option>

      <ion-select-option
        value="Materias Primas">

        Materias Primas

      </ion-select-option>

    </ion-select>

  </ion-item>

  @for(
    log of filteredLogs;
    track log.id
  ){

    <ion-card>

      <ion-card-content>

        <strong>

          {{ log.module }}

        </strong>

        <br>

        Acción:

        {{ log.action }}

        <br>

        Responsable:

        {{ log.responsible }}

        <br>

        {{ log.description }}

        <br>

        <small>

          {{ log.date }}

        </small>

      </ion-card-content>

    </ion-card>

  }

</ion-content>