<ion-header>

  <ion-toolbar>

    <ion-title>

      Médicos

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-item>

    <ion-input
      label="Nombre"
      labelPlacement="floating"
      [(ngModel)]="name">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="CMP"
      labelPlacement="floating"
      [(ngModel)]="cmp">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Especialidad"
      labelPlacement="floating"
      [(ngModel)]="specialty">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Teléfono"
      labelPlacement="floating"
      [(ngModel)]="phone">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Correo"
      labelPlacement="floating"
      [(ngModel)]="email">
    </ion-input>

  </ion-item>

  <ion-button
    expand="block"
    (click)="addDoctor()">

    Registrar Médico

  </ion-button>

  @for(
    doctor of doctors;
    track doctor.id
  ){

    <ion-card>

      <ion-card-content>

        <h2>

          {{ doctor.name }}

        </h2>

        <p>

          CMP:
          {{ doctor.cmp }}

        </p>

        <p>

          Especialidad:
          {{ doctor.specialty }}

        </p>

        <p>

          Teléfono:
          {{ doctor.phone }}

        </p>

        <p>

          Correo:
          {{ doctor.email }}

        </p>

      </ion-card-content>

      <ion-button
        color="danger"
        expand="block"
        (click)="deleteDoctor(doctor.id)">

        Eliminar

      </ion-button>

    </ion-card>

  }

</ion-content>