<ion-header>

  <ion-toolbar>

    <ion-title>

      Producción Magistral

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  @for(
    production of productions;
    track production.id
  ){

    <ion-card>

      <ion-card-content>

        <h2>

          {{ production.patientName }}

        </h2>

        <p>

          Responsable:
          {{ production.responsible }}
          
        </p>

        <p>

  💊 Forma Farmacéutica:

  {{ production.pharmaceuticalForm }}

</p>

<p>

  🏥 Especialidad:

  {{ production.specialty }}

</p>

<p>

  ⚡ Prioridad:

  {{ production.priority }}

</p>

        <p>

  Lote:
  {{ production.batchNumber }}

</p>

<p>

  Cantidad:
  {{ production.quantity }}

</p>

<p>

  Elaboración:
  {{ production.productionDate }}

</p>

<p>

  Materias primas utilizadas:

</p>

@if(
  production.rawMaterialsUsed &&
  production.rawMaterialsUsed.length > 0
){

  @for(
    material of production.rawMaterialsUsed;
    track material.lotNumber
  ){

    <p>

  • {{ material.materialName }}

  ({{ material.quantity }}
  {{ material.unit }})

</p>

<p>

  Lote:
  {{ material.lotNumber }}

</p>

<p>

  Fecha:
  {{ material.consumedDate }}

</p>

<p>

  Responsable:
  {{ material.consumedBy }}

</p>

<hr>

  }

}

        <p>

          Fórmula:
          {{ production.formula }}

        </p>

        <p>

          Inicio:
          {{ production.startDate }}

        </p>

        <p>

  Estado:

  <strong
    [style.color]="
      production.status === 'Pendiente'
        ? '#f59e0b'
        : production.status === 'En Producción'
        ? '#3b82f6'
        : production.status === 'Control Calidad'
        ? '#8b5cf6'
        : production.status === 'Lista para Entrega'
        ? '#10b981'
        : production.status === 'Observado'
        ? '#ef4444'
        : '#22c55e'
    "
  >

    {{ production.status }}

  </strong>

</p><p>

  Estado:

  <strong
    [style.color]="
      production.status === 'Pendiente'
        ? '#f59e0b'
        : production.status === 'En Producción'
        ? '#3b82f6'
        : production.status === 'Control Calidad'
        ? '#8b5cf6'
        : production.status === 'Lista para Entrega'
        ? '#10b981'
        : production.status === 'Observado'
        ? '#ef4444'
        : '#22c55e'
    "
  >

    {{ production.status }}

  </strong>

</p>

        @if(
  production.status === 'Finalizado' ||
  production.status === 'Observado' ||
  production.status === 'Lista para Entrega'
){

  <hr>

  <h3>
    🔬 Control de Calidad
  </h3>

  <p>
    Resultado:
    {{ production.qualityResult }}
  </p>

  <p>
    Estado Calidad:
    {{ production.qualityStatus }}
  </p>

  <p>
    Responsable:
    {{ production.qualityResponsible }}
  </p>

  <p>
    Fecha Calidad:
    {{ production.qualityDate }}
  </p>

  <p>
    Observaciones:
    {{ production.observations }}
  </p>

        }

        <hr>

        <h3>

          Historial

        </h3>

        @for(
          item of production.history;
          track item
        ){

          <p>

            • {{ item }}

          </p>

        }

        @if(
          production.status !==
          'Finalizado'
        ){

          <ion-button
            expand="block"
            (click)="nextStatus(production)">

            Avanzar Producción

          </ion-button>

        }

      </ion-card-content>

    </ion-card>

  }

</ion-content>