<ion-header>

  <ion-toolbar>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <!-- TIPO DOCUMENTO CONTROLADO -->
  <ion-item>
    <ion-input
      label="Tipo Documento"
      labelPlacement="floating"
      [(ngModel)]="documentType"
      readonly>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Número Documento"
      labelPlacement="floating"
      [(ngModel)]="documentNumber">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Nombres"
      labelPlacement="floating"
      [(ngModel)]="firstName">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Apellidos"
      labelPlacement="floating"
      [(ngModel)]="lastName">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="date"
      label="Fecha Nacimiento"
      labelPlacement="floating"
      [(ngModel)]="birthDate">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Teléfono"
      labelPlacement="floating"
      [(ngModel)]="phone">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="email"
      label="Correo"
      labelPlacement="floating"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Dirección"
      labelPlacement="floating"
      [(ngModel)]="address">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addPatient()">
    Registrar Paciente
  </ion-button>

  <!-- LISTADO -->
  @for(patient of patients; track patient.id){

    <ion-card>

      <ion-card-content>

        <h2>
          {{ patient.firstName }}
          {{ patient.lastName }}
        </h2>

        <p>
          Documento:
          {{ patient.documentType }}
          {{ patient.documentNumber }}
        </p>

        <p>
          Fecha Nacimiento:
          {{ patient.birthDate }}
        </p>

        <p>
          Teléfono:
          {{ patient.phone }}
        </p>

        <p>
          Correo:
          {{ patient.email }}
        </p>

        <p>
          Dirección:
          {{ patient.address }}
        </p>

      </ion-card-content>

      <ion-button
        color="danger"
        expand="block"
        (click)="deletePatient(patient.id)">

        Eliminar

      </ion-button>

    </ion-card>

  }

</ion-content>