<ion-content fullscreen>

  <div class="login-container">

    <div class="logo-section">

      <h1>QF</h1>

      <h2>Farmacia Magistral</h2>

      <p>
        Sistema de Gestión de Pedidos e Inventario
      </p>

    </div>

    <div class="login-card">

      <h3>Bienvenido</h3>

      <p>
        Inicia sesión para continuar
      </p>

      <ion-item>

        <ion-input
          label="Usuario"
          labelPlacement="floating"
          [(ngModel)]="username">

        </ion-input>

      </ion-item>

      <ion-item>

        <ion-input
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          [(ngModel)]="password">

        </ion-input>

      </ion-item>

      <ion-button
        expand="block"
        (click)="login()">

        Iniciar Sesión

      </ion-button>

    </div>

  </div>

</ion-content>