<ion-header>
  <ion-toolbar>
    <ion-title>
      Gestión de Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- BUSCADOR -->

  <ion-item>
    <ion-input
      label="Buscar producto"
      labelPlacement="floating"
      [(ngModel)]="searchText"
      (ionInput)="searchProduct()">
    </ion-input>
  </ion-item>

  <br>

  <!-- FORMULARIO -->

  <ion-item>
    <ion-input
      label="Nombre"
      labelPlacement="floating"
      [(ngModel)]="productName">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      label="Stock"
      labelPlacement="floating"
      [(ngModel)]="productStock">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      label="Precio"
      labelPlacement="floating"
      [(ngModel)]="productPrice">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Categoría"
      labelPlacement="floating"
      [(ngModel)]="productCategory">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Laboratorio"
      labelPlacement="floating"
      [(ngModel)]="productLaboratory">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="date"
      label="Fecha Vencimiento"
      labelPlacement="floating"
      [(ngModel)]="productExpirationDate">
    </ion-input>
  </ion-item>

  @if(editingProductId === null){

    <ion-button
      expand="block"
      (click)="addProduct()">

      Agregar Producto

    </ion-button>

  } @else {

    <ion-button
      color="success"
      expand="block"
      (click)="updateProduct()">

      Actualizar Producto

    </ion-button>

  }

  <br>

  <!-- LISTADO -->

  @for(product of filteredProducts; track product.id){

    <ion-card class="product-card">

      <ion-card-content>

        <h2>
          💊 {{ product.name }}
        </h2>

        <p>
          <strong>Código:</strong>
          {{ product.code }}
        </p>

        <p>
          <strong>Categoría:</strong>
          {{ product.category }}
        </p>

        <p>
          <strong>Laboratorio:</strong>
          {{ product.laboratory }}
        </p>

        <p>
          <strong>Stock:</strong>
          {{ product.stock }}
        </p>

        <p>
          <strong>Precio:</strong>
          S/. {{ product.price }}
        </p>

        <p>
          <strong>Vence:</strong>
          {{ product.expirationDate }}
        </p>

      </ion-card-content>

      <ion-button
        expand="block"
        (click)="editProduct(product)">

        Editar

      </ion-button>

      <ion-button
        color="danger"
        expand="block"
        (click)="deleteProduct(product.id)">

        Eliminar

      </ion-button>

    </ion-card>

  }

</ion-content>