ion-content {
  --background: #f5f7fb;
}

.product-card {

  border-radius: 18px;

  margin-top: 15px;

  overflow: hidden;
}

.product-card h2 {

  color: #2144d8;

  margin-bottom: 12px;
}

ion-item {

  margin-bottom: 10px;
}

ion-button {

  margin-top: 8px;
}