<ion-app>
  <ion-menu
    menuId="mainMenu"
    contentId="main-content"
    side="start"
    swipeGesture="true">

    <ion-content class="menu-content">
      <div class="menu-header">
        <h2>QF Gestión</h2>

        @if (currentUser) {
          <p>{{ currentUser.fullName }}</p>
          <span>{{ currentUser.role }}</span>
        }
      </div>

      <ion-list>
        @for (item of menuItems; track item.key) {
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="item.path" button>
              <ion-icon slot="start" [name]="item.icon || 'ellipse-outline'"></ion-icon>
              {{ item.label }}
            </ion-item>
          </ion-menu-toggle>
        }

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/profile" button>
            <ion-icon slot="start" name="person-outline"></ion-icon>
            Perfil
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item button (click)="logout()" class="logout-item">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Cerrar Sesión
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content" class="ion-page app-shell">
    <main class="app-content" [class.has-bottom-nav]="showBottomNav">
      <ion-router-outlet></ion-router-outlet>
    </main>

    @if (showBottomNav) {
      <app-bottom-nav></app-bottom-nav>
    }
  </div>
</ion-app>
