<ion-header>
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Cliente"
      labelPlacement="floating"
      [(ngModel)]="clientName">
    </ion-input>
  </ion-item>

  <ion-item>

    <ion-select
      label="Producto"
      [(ngModel)]="selectedProduct"
      (ionChange)="onProductChange()">

      @for(product of products; track product.id){

        <ion-select-option
          [value]="product.name">

          {{ product.name }}

        </ion-select-option>

      }

    </ion-select>

  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      label="Cantidad"
      labelPlacement="floating"
      [(ngModel)]="quantity"
      (ionInput)="calculateTotal()">
    </ion-input>
  </ion-item>

  <ion-card>

    <ion-card-content>

      <p>
        <strong>Precio:</strong>
        S/. {{ selectedPrice }}
      </p>

      <p>
        <strong>Stock Disponible:</strong>
        {{ selectedStock }}
      </p>

      <p>
        <strong>Total:</strong>
        S/. {{ totalAmount.toFixed(2) }}
      </p>

    </ion-card-content>

  </ion-card>

  <ion-button
    expand="block"
    (click)="createOrder()">

    Registrar Pedido

  </ion-button>

  @for(order of orders; track order){

    <ion-card>

      <ion-card-content>

        <h2>{{ order.client }}</h2>

        <p>Producto: {{ order.product }}</p>

        <p>Cantidad: {{ order.quantity }}</p>

        <p>Total: S/. {{ order.total }}</p>

        <p>Fecha: {{ order.date }}</p>

      </ion-card-content>

    </ion-card>

  }

</ion-content>