<ion-header>

  <ion-toolbar>

    <ion-title>

      Laboratorios

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-item>

    <ion-input
      label="Nombre"
      labelPlacement="floating"
      [(ngModel)]="name">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="RUC"
      labelPlacement="floating"
      [(ngModel)]="ruc">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Contacto"
      labelPlacement="floating"
      [(ngModel)]="contact">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Teléfono"
      labelPlacement="floating"
      [(ngModel)]="phone">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Correo"
      labelPlacement="floating"
      [(ngModel)]="email">
    </ion-input>

  </ion-item>

  <ion-item>

    <ion-input
      label="Dirección"
      labelPlacement="floating"
      [(ngModel)]="address">
    </ion-input>

  </ion-item>

  <ion-button
    expand="block"
    (click)="addLaboratory()">

    Registrar Laboratorio

  </ion-button>

  @for(
    laboratory of laboratories;
    track laboratory.id
  ){

    <ion-card>

      <ion-card-content>

        <h2>

          {{ laboratory.name }}

        </h2>

        <p>

          RUC:
          {{ laboratory.ruc }}

        </p>

        <p>

          Contacto:
          {{ laboratory.contact }}

        </p>

        <p>

          Teléfono:
          {{ laboratory.phone }}

        </p>

        <p>

          Correo:
          {{ laboratory.email }}

        </p>

        <p>

          Dirección:
          {{ laboratory.address }}

        </p>

        <p>

          Estado:
          <strong>

            {{ laboratory.status }}

          </strong>

        </p>

      </ion-card-content>

      <ion-button
        color="danger"
        expand="block"
        (click)="deleteLaboratory(
          laboratory.id
        )">

        Eliminar

      </ion-button>

    </ion-card>

  }

</ion-content>