ion-content {
  --background: #f5f7fb;
}

.report-card {

  border-radius: 18px;

  margin-bottom: 16px;

  text-align: center;
}

.report-card h1 {

  font-size: 34px;

  font-weight: bold;

  margin-top: 10px;
}

.report-card h2 {

  font-size: 18px;

  margin-bottom: 5px;
}

.products {
  border-left: 6px solid #2144d8;
}

.orders {
  border-left: 6px solid #00acc1;
}

.sales {
  border-left: 6px solid #43a047;
}

.warning {
  border-left: 6px solid #fb8c00;
}

.expire {
  border-left: 6px solid #e53935;
}