.header {
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
}

.header p {
  color: gray;
}

.stat-card {
  text-align: center;
}

.stat-card h2 {
  font-size: 22px;
  font-weight: bold;
}

.menu {
  padding: 16px;
}

ion-button {
  margin-top: 10px;
}